<div class="container">
  <div class="row">
    <h3>Frank Michels | The Story Behind the Music</h3>

    <div class="text-left col-sm-12 somePad">
      <div class="row">
        <div class="col-sm-12 somePad bottomMarg2">
          <img src="/img/Frank-1.jpg" class="circleFrank img-fluid pull-right">
          <h3 class="yellow">So, you’ve written a song.</h3>
          <p class="lines">It’s a pretty good one, too. Now you need a professional sounding recording of your tune, so you can pitch it to Luke Bryan or Carrie Underwood, or maybe just play it for your family and friends. But you’ve checked out the prices at the many song demo companies online, and found that prices range from $300 for a basic demo, to $700 or more for full band demos. These prices just aren't in the budget, but you still want to hear your song come to life - that’s where Frank comes in.</p>
          <p class="lines">Frank has spent his life playing music and writing songs, and has backed up some of the biggest names in country music. He plays guitar, fiddle, banjo, mandolin, keyboards, and just about any other instrument you can name. Because of this, Frank can record whole band tracks in his studio, and do it for a more competitive price than other studios.</p>
          <p> “Frank Michels has produced more than 2,000 demos over the past ten years. And he knows the heart of a songwriter, having had his own songs recorded by country superstar Gretchen Wilson and dozens of indie artists. Just write lyrics? No problem! Unlike other services, he doesn't charge extra for composing original music just for your words. Checkout the <a href="#/services">Services</a> page for the complete detail.</p>
          <img src="/img/singer-debra.jpg" class="circleSinger img-fluid pull-left">
          <img src="/img/singer-dave.jpg" class="circleSinger img-fluid pull-left">
          <p class="lines">The primary demo singers, Debra Gordon and David Ward, are two of the top vocalists in Nashville, and they will bring your song to life with power, emotion, and soaring harmonies. Debra can deliver performances in many genres including but not limited to Country, Gospel and Blues.  Dave gives a Southern gentility to his vocals like none other. Checkout their vocals by <a href="#/samples">listening</a> to samples now.</p>
          <p class="lines">Frank has a special talent for making a great recording from even the roughest of work tapes. Don’t send your creation to some “song factory” to be crammed onto a session with dozens of others. Frank promises to put the same care, skill and effort into arranging your tune as he would for his own songs.</p>
          <a href="#/gallery" class="btn btn-default btn-block alignTopServices">View Frank's Gallery</a>
        </div>
      </div>
    </div>
  </div>
</div>