<div class="container">
<!--   <div class="row">
    <h3>Next Steps | Connect With Frank</h3>
    <div class="text-left">
      <p><i class="fa fa-question fa-2x" aria-hidden="true"></i>  Not sure if you are ready to take the next step? Scroll through the testimonials below to learn more about the satisfied songwriters that have had their songs brought to life by Frank Michels and his Nashville Song Demo Service.</p>
      <p><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>  Ready to send in your songs? <a href="mailto:michels8@comcast.net">CLICK to email Frank today!</a></p>
      <p><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>  You can also <a href="https://www.facebook.com/NashvilleSongDemo/"> connect on Facebook</a> to meet other songwriters that have chosen to work with Frank time and time again.</p>
    </div>
  </div> -->
  <div class="row">
    <h3>Next Steps | Connect With Frank</h3>
    <div class="col-sm-4">
      <div class="card card2">
        <div class="card-block">
          <h3 class="card-title"><i class="fa fa-users fa-3x" aria-hidden="true"></i></h3>
          <p class="card-text">Still not sure if you are ready to take the next step? Scroll through the testimonials below to learn more about the satisfied songwriters that have trusted the services of Frank Michels.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card2">
        <div class="card-block">
          <h3 class="card-title"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></h3>
          <p class="card-text">If think you are ready to start the creative recording process, be sure you have visited the services page to understand all of your options. Once you have a good idea which service you will need, contact Frank to get started.</p>
          <h4><a href="mailto:michels8@comcast.net" class="black">EMAIL FRANK</a></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card2">
        <div class="card-block">
          <h3 class="card-title"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></h3>
          <p class="card-text">You can also connect to other songwriters that have chosen to work with Frank time and time again by visiting his facebook profile and joining the community.</p>
          <h4><a href="mailto:michels8@comcast.net" class="black">VISIT PROFILE</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row testimonials bottomMarg2">
    <div class="container content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item" ng-class="{active:!$index}" ng-repeat="testimonial in testimonials">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">{{testimonial.lead}}</p>
                      <p>{{testimonial.detail}}</p>
                      <p class="note">{{testimonial.songwriter}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



