<div class="row"> <!-- NEW PHOTO SLIDER -->
  <h3>Photo Gallery | Years On Tour & In The Studio</h3>
<!--   <p class="note">Click the  <i class="fa fa-chevron-left" aria-hidden="true"></i>  <i class="fa fa-chevron-right" aria-hidden="true"></i>  to navigate through the images</p>
 -->

  <div class="container content bottomMarg2">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" id="pics">
        <div class="item" ng-class="{active:!$index}" ng-repeat="image in images">
            <img ng-src="{{image.image}}" alt="image-one" class="responsive">
            <div class="imgCaption">
              <h5 class="words">{{image.caption}}</h5>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="container content bottomMarg2"> -->
    <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
      <!-- Wrapper for slides -->
      <!-- <div class="carousel-inner">
        <div class="item" ng-class="{active:!$index}" ng-repeat="image in images">
          <img ng-src="{{image.image}}" alt="image-one" class="responsive">
          <div class="carousel-caption row">
            <p>{{image.caption}}</p>
          </div>
        </div>
 -->
        <!-- Controls -->
<!--         <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div> -->
</div>