<div class="row"> <!-- NEW PHOTO SLIDER -->
  <h3>Photo Gallery | Years On Tour & In The Studio</h3>
  <div class="container content bottomMarg2">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" id="pics">
        <div class="item active">
            <img src="http://nashville-songdemo.com/img/slider-01.jpg" alt="image-one" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Frank working on a radio commercial in the late 70’s</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-02.jpg" alt="image-two" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Frank (on acoustic) backing up Tanya Tucker at a state fair</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-03.jpg" alt="image-three" class="responsive">
            <div class="imgCaption">
              <h5 class="words">ith Brenda Lee on the Hee Haw television set</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-04.jpg" alt="image-four" class="responsive">
            <div class="imgCaption">
              <h5 class="words">A show with Michelle Wright in the late 90’s</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-05.jpg" alt="image-five" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Frank (center, rear) before a show with Deborah Allen</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-06.jpg" alt="image-six" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Frank fiddling around</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-07.jpg" alt="image-seven" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Michelle Wright ’97 tour of Canada</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-08.jpg" alt="image-eight" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Pickin’ the banjo with Ronnie McDowell</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-09.jpg" alt="image-nine" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Frank (left) recording with Ronnie McDowell, the Jordanaires, Scotty Moore, and D.J. Fontana</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-10.jpg" alt="image-ten" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Laying down acoustic guitar tracks</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-11.jpg" alt="image-eleven" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Recording some dobro licks</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-12.jpg" alt="image-twelve" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Debra Gordon sings a demo for a client</h5>
            </div>
        </div>
        <div class="item">
            <img src="http://nashville-songdemo.com/img/slider-13.jpg" alt="image-thirteen" class="responsive">
            <div class="imgCaption">
              <h5 class="words">Putting some bottom on a song</h5>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

