<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12"><img src="/img/bring-to-life.png" alt="" class="img-fluid"></div>
  </div>
</div> -->
<div class="site-wrapper container-fluid no-padding landing">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner">
        <img src="/img/bring-to-life.png" alt="" class="homeLanding">
        <a href="#/about" title="" class="btn btn-warning bump">Learn More</a>
      </div>

    </div>

  </div>

</div>