<div class="container">
  <div class="row">
    <h3>Turn Up The Volume | Listen To A Few Songs</h3>

    <div class="col-sm-12 somePad">
      <div class="col-sm-6">
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/313593915&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
      <div class="col-sm-6">
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/40101875&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
      <div class="col-sm-6">
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/40101933&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
      <div class="col-sm-6">
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/40102000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
      <div class="col-sm-6">
       <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/125592947&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>
    </div>

    <!-- <div class="text-left col-sm-3 somePad2">
      <h5>Testimonials</h5>
      <div>
        <p class="note">{{testimonialSingle.detail}}</p>
        <p class="note2"><i class="fa fa-user" aria-hidden="true"></i> {{testimonialSingle.songwriter}}</p>
      </div>
    </div> -->

      <!-- <div class="row">
    <div class="text-left col-sm-12 somePad">
      <h5>Testimonials</h5>
      <div>
        <p class="note">{{testimonialSingle.detail}}</p>
        <p class="note2"><i class="fa fa-user" aria-hidden="true"></i> {{testimonialSingle.songwriter}}</p>
      </div>
    </div>
  </div> -->

  </div>
</div>