<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-12">
        <h3>General Information</h5>
        <p>All demos are delivered as a stereo mix with vocals, plus the music tracks without vocals, either on a cd by mail, or as wav file through an internet file sharing service. An mp3 of the song is also emailed to the client. Demos are completed in two weeks, or usually less.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title text-left">Complete Full Band Demo (No Vocals)</h4>
            <h6 class="card-subtitle mb-2 text-muted text-left">$275</h6>
            <p class="card-text text-left">Hear the song come to life.  The final product is mixed and mastered.</p>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="text-left">Includes:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Drums</li>
                  <li>Bass</li>
                  <li>Acoustic Guitar(s)</li>
                  <li>Electric Guitar(s)</li>
                  <li>Keyboard</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h6 class="text-left">Used if song/genre calls for it:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Fiddle</li>
                  <li>Banjo</li>
                  <li>Mandolin</li>
                  <li>Dobro</li>
                  <li>Slide Guitar</li>
                  <li>Harmonica</li>
                  <li>Synth (Sax, Horns, String)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title text-left">Complete Full Band Demo (No Vocals)</h4>
            <h6 class="card-subtitle mb-2 text-muted text-left">$275</h6>
            <p class="card-text text-left">Hear the song come to life.  The final product is mixed and mastered.</p>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="text-left">Includes:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Drums</li>
                  <li>Bass</li>
                  <li>Acoustic Guitar(s)</li>
                  <li>Electric Guitar(s)</li>
                  <li>Keyboard</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h6 class="text-left">Used if song/genre calls for it:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Fiddle</li>
                  <li>Banjo</li>
                  <li>Mandolin</li>
                  <li>Dobro</li>
                  <li>Slide Guitar</li>
                  <li>Harmonica</li>
                  <li>Synth (Sax, Horns, String)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title text-left">Complete Full Band Demo (No Vocals)</h4>
            <h6 class="card-subtitle mb-2 text-muted text-left">$275</h6>
            <p class="card-text text-left">Hear the song come to life.  The final product is mixed and mastered.</p>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="text-left">Includes:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Drums</li>
                  <li>Bass</li>
                  <li>Acoustic Guitar(s)</li>
                  <li>Electric Guitar(s)</li>
                  <li>Keyboard</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h6 class="text-left">Used if song/genre calls for it:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Fiddle</li>
                  <li>Banjo</li>
                  <li>Mandolin</li>
                  <li>Dobro</li>
                  <li>Slide Guitar</li>
                  <li>Harmonica</li>
                  <li>Synth (Sax, Horns, String)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title text-left">Complete Full Band Demo (No Vocals)</h4>
            <h6 class="card-subtitle mb-2 text-muted text-left">$275</h6>
            <p class="card-text text-left">Hear the song come to life.  The final product is mixed and mastered.</p>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="text-left">Includes:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Drums</li>
                  <li>Bass</li>
                  <li>Acoustic Guitar(s)</li>
                  <li>Electric Guitar(s)</li>
                  <li>Keyboard</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h6 class="text-left">Used if song/genre calls for it:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Fiddle</li>
                  <li>Banjo</li>
                  <li>Mandolin</li>
                  <li>Dobro</li>
                  <li>Slide Guitar</li>
                  <li>Harmonica</li>
                  <li>Synth (Sax, Horns, String)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title text-left">Complete Full Band Demo (No Vocals)</h4>
            <h6 class="card-subtitle mb-2 text-muted text-left">$275</h6>
            <p class="card-text text-left">Hear the song come to life.  The final product is mixed and mastered.</p>
            <div class="row">
              <div class="col-sm-6">
                <h6 class="text-left">Includes:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Drums</li>
                  <li>Bass</li>
                  <li>Acoustic Guitar(s)</li>
                  <li>Electric Guitar(s)</li>
                  <li>Keyboard</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h6 class="text-left">Used if song/genre calls for it:</h6>
                <ul class="list-group list-group-flush text-left">
                  <li>Fiddle</li>
                  <li>Banjo</li>
                  <li>Mandolin</li>
                  <li>Dobro</li>
                  <li>Slide Guitar</li>
                  <li>Harmonica</li>
                  <li>Synth (Sax, Horns, String)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- add in a duet charge -->