<div class="container">
  <div class="row">
    <h3>View Services | Start Today</h3>
    <div class="text-left col-sm-12 somePad alignTopServices">
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne" title="click to see/hide full details">
            <h3 class="mb-0 card-title text-left text-uppercase inline-block">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Complete Full Band Demo  <i class="fa fa-expand" aria-hidden="true"></i><!-- <span class="glyphicon" ng-class="collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'" ng-click="collapsed = !collapsed;"></span> --></a>
            </h3>
          </div>
          <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block negative20">
              <div class="row">
                <div class="col-sm-12">
                  <p class="card-subtitle mb-2 text-right pull-right lead price">$375</p>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 somePad">
                  <p class="card-text text-left"><i class="fa fa-check-square-o clear" aria-hidden="true"></i>  Hear your song come to life with a big, full sound that's ready for the radio. The final product is mixed and mastered. Base price for this service is $375*.</p>
                  <p class="note">*Price subject to change if additional services are added.</p>
                  <a class="btn btn-primary" href="#/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Frank</a>
                </div>
                <div class="col-sm-4 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar(s)</li>
                    <li>Electric Guitar(s)</li>
                    <li>Keyboard</li>
                    <li>Professional Lead Vocal</li>
                    <li>Supportive Background Vocal(s)</li>
                  </ul>
                </div>
                <div class="col-sm-4 somePad">
                  <h6 class="text-left">Used if song/genre calls for it:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Fiddle</li>
                    <li>Banjo</li>
                    <li>Mandolin</li>
                    <li>Dobro</li>
                    <li>Slide Guitar</li>
                    <li>Harmonica</li>
                    <li>Synth (Sax, Horns, String)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo" title="click to see/hide full details">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Complete Full Band Demo (No Vocals)  <i class="fa fa-expand" aria-hidden="true"></i><!-- <span class="glyphicon" ng-class="collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'" ng-click="collapsed = !collapsed;"></span> --></a>
            </h3>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block negative20">
              <div class="row">
                <div class="col-sm-12">
                  <p class="card-subtitle mb-2 text-right pull-right lead price">$275</p>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 somePad">
                  <p class="card-text text-left"><i class="fa fa-check-square-o" aria-hidden="true"></i>  Looking for a complete track to sing along to?  This would be your best choice! The final product is mixed and mastered. Base price for this service is $275*.</p>
                  <p class="note">*Price subject to change if additional services are added.</p>
                  <a class="btn btn-primary" href="#/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Frank</a>
                </div>
                <div class="col-sm-4 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar(s)</li>
                    <li>Electric Guitar(s)</li>
                    <li>Keyboard</li>
                  </ul>
                </div>
                <div class="col-sm-4 somePad">
                  <h6 class="text-left">Used if song/genre calls for it:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Fiddle</li>
                    <li>Banjo</li>
                    <li>Mandolin</li>
                    <li>Dobro</li>
                    <li>Slide Guitar</li>
                    <li>Harmonica</li>
                    <li>Synth (Sax, Horns, String)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree" title="click to see/hide full details">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Basic Demo  <i class="fa fa-expand" aria-hidden="true"></i><!-- <span class="glyphicon" ng-class="collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'" ng-click="collapsed = !collapsed;"></span> --></a>
            </h3>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block negative20">
              <div class="row">
                <div class="col-sm-12">
                  <p class="card-subtitle mb-2 text-right pull-right lead price">$200</p>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 somePad">
                  <p class="card-text text-left"><i class="fa fa-check-square-o" aria-hidden="true"></i>  This basic workup presents your song in a clean, uncluttered way, without sacrificing emotion or grit. Base price for this service is $200*.</p>
                  <p class="note">*Price subject to change if additional services are added.</p>
                  <a class="btn btn-primary" href="#/contact"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Frank</a>
                </div>
                <div class="col-sm-4 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar (1)</li>
                    <li>Electric Guitar (1)</li>
                    <li>Professional Lead Vocal</li>
                    <li>Supportive Background Vocal</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingFour" title="click to see/hide full details">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Basic Demo (No Vocals)  <i class="fa fa-expand" aria-hidden="true"></i><!-- <span class="glyphicon" ng-class="collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'" ng-click="collapsed = !collapsed;"></span> --></a>
            </h3>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block negative20">
              <div class="row">
                <div class="col-sm-12">
                  <p class="card-subtitle mb-2 text-right pull-right lead price">$125</p>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 somePad">
                  <p class="card-text text-left"><i class="fa fa-check-square-o" aria-hidden="true"></i>  This basic track presents your song in a clean, uncluttered way. Base price for this service is $125*.</p>
                  <p class="note">*Price subject to change if additional services are added.</p>
                  <a class="btn btn-primary" href="#/contact"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Frank</a>
                </div>
                <div class="col-sm-4 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar (1)</li>
                    <li>Electric Guitar (1)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingFive" title="click to see/hide full details">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">ADDITIONAL SERVICES  <i class="fa fa-expand" aria-hidden="true"></i><!-- <span class="glyphicon" ng-class="collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'" ng-click="collapsed = !collapsed;"></span> --></a>
            </h3>
          </div>
          <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-block">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Custom Melody</th>
                    <td>FREE</td>
                    <td>Perhaps you are a lyricist and you need help with the music, leave it to Frank.  He will create a custom meolody to compliment your lyrics.</td>
                  </tr>
                  <tr>
                    <th scope="row">Pedal Steel</th>
                    <td>$100</td>
                    <td>One of the few instruments Frank does not play; this will have to be outsourced by a local steel player. *This will be added to your total fee.</td>
                  </tr>
                  <tr>
                    <th scope="row">Duet</th>
                    <td>$100</td>
                    <td>Have a song that requires the magic of a duet?  No problem.  Hiring an extra vocalist will require additional mix time and coordination of their vocals.  Not to mention the additional fee of hiring the singer. *This will be added to your total fee.</td>
                  </tr>
                  <tr>
                    <th scope="row">"Stem" Wave Files</th>
                    <td>$50</td>
                    <td>If you are in need of individual wav files for the individual instruments, there will be a one time additional charge.</td>
                  </tr>
                  <tr>
                    <th scope="row">Nashville Numbers Chart</th>
                    <td>$15</td>
                    <td>Need to perform your song with a band, or does a singer need to record your song? A Nashville Numbers Chart will make sure they get all the chords right. *This will be added to your total fee.</td>
                  </tr>
                  <tr>
                    <th scope="row">Extra CD</th>
                    <td>$5</td>
                    <td>Extra CD with label *This will be added to your total fee.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottomMarg2 somePad" id="terms-of-service">
<!--     <div class="col-sm-4"></div> -->
    <div class="col-sm-12 text-left" title="click to see/hide full details">
      <button type="button" class="btn btn-primary btn-block left terms" data-toggle="collapse" data-target="#demo">Terms & Conditions <i class="fa fa-expand" aria-hidden="true"></i></button>
    </div>
    <div id="demo" class="collapse text-left col-sm-12 alignTopServices">
      <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>  All demos are done “for hire” and are the property of the writer.</p>
      <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>  They may be sold, played or streamed on the internet. However, if used in a “sync” deal with movies, tv shows or commercials, a separate payment must be negotiated with the vocalist.</p>
      <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>  Checks, money orders or Paypal are acceptable forms of payment.</p>
      <p class="text-left"><i class="fa fa-circle" aria-hidden="true"></i>  Addresses provided when a song is ordered.</p>
    </div>
  </div>
</div>



