<div class="container">
  <div class="row testimonials">
    <div class="container content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">Frank is an unbelievable musician.</p>
                      <p>Frank Michels has produced demos for over 70 of my songs. I appreciate Frank's professional arrangements and the fact that he includes at no extra cost the instrument tracks that I am able to record my own voice to.</p>
                      <p class="note">K. Thornton</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">Frank's demos are nothing short of amazing.</p>
                      <p>His ability to work in a wide range of styles, with varied instrumentation and great vocals at a reasonable price makes him a true Nashville treasure.</p>
                      <p class="note">R. Simbeck (writer for Bob Kingsley’s Country Top 40)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">You are a song saver.</p>
                      <p>I just wanted to let you know that I am extremely impressed with your work. I wish I had found you a year ago-- It would have saved me a lot of time, money and stress.</p>
                      <p class="note">R. Williams</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">Your talent is undeniable.</p>
                      <p>Thank you Frank, your ability to hear the song the way I do just blows me away! And please tell Debra thanks as well, I am fortunate to have you both on the songs.</p>
                      <p class="note">S. Hodge</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">Great work and thanks again!</p>
                      <p>Wow Frank, I love the song! I like the ending a lot and especially all of the small accents and embellishments in verse two.</p>
                      <p class="note">J. Ulm</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">You really worked some magic.</p>
                      <p>Thanks for the MP3 and for a very good demo. You really worked some magic to take the crude effort I sent you and made it sound professional!!"</p>
                      <p class="note">C. Welch</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-12">
                <div class="thumbnail adjust1">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="caption">
                      <p class="text-info lead adjust2">I can't believe how quickly I got my demo.</p>
                      <p>I absolutely love it! It's exactly the style and attitude I was looking for. Awesome music and vocals! I will definitely be sending more lyrics soon.</p>
                      <p class="note">C. Little</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row bottomMarg2">
    <div class="text-left col-sm-12 somePad alignTopServices">
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h3 class="mb-0 card-title text-left text-uppercase inline-block">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Complete Full Band Demo</a>
            </h3>
          </div>
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
<!--               <h6 class="card-subtitle mb-2 text-left">$375</h6> -->
              <p class="card-subtitle mb-2 text-right pull-right lead price">$375</p>
              <p class="card-text text-left">Hear the song come to life.  The final product is mixed and mastered.</p>
              <button class="btn btn-primary"> <i class="fa fa-check-square-o" aria-hidden="true"></i>  Interested</button>
              <div class="row">
                <div class="col-sm-6 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar (1+)</li>
                    <li>Electric Guitar (1+)</li>
                    <li>Keyboard</li>
                    <li>Professional Lead Vocals (1)</li>
                    <li>Supportive Background Vocals (1+)</li>
                  </ul>
                </div>
                <div class="col-sm-6 somePad">
                  <h6 class="text-left">Used if song/genre calls for it:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Fiddle</li>
                    <li>Banjo</li>
                    <li>Mandolin</li>
                    <li>Dobro</li>
                    <li>Slide Guitar</li>
                    <li>Harmonica</li>
                    <li>Synth (Sax, Horns, String)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Complete Full Band Demo (No Vocals)</a>
            </h3>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <p class="card-subtitle mb-2 text-right pull-right lead price">$275</p>
              <p class="card-text text-left">Looking for a complete track to sing along to?  This would be your best choice! The final product is mixed and mastered.</p>
              <button class="btn btn-primary"> <i class="fa fa-check-square-o" aria-hidden="true"></i>Interested</button>
              <div class="row">
                <div class="col-sm-6 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar (1+)</li>
                    <li>Electric Guitar (1+)</li>
                    <li>Keyboard</li>
                  </ul>
                </div>
                <div class="col-sm-6 somePad">
                  <h6 class="text-left">Used if song/genre calls for it:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Fiddle</li>
                    <li>Banjo</li>
                    <li>Mandolin</li>
                    <li>Dobro</li>
                    <li>Slide Guitar</li>
                    <li>Harmonica</li>
                    <li>Synth (Sax, Horns, String)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Basic Demo</a>
            </h3>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <p class="card-subtitle mb-2 text-right pull-right lead price">$200</p>
              <p class="card-text text-left">This basic workup takes the natural edges off your song. General mixing.</p>
              <button class="btn btn-primary"> <i class="fa fa-check-square-o" aria-hidden="true"></i>Interested</button>
              <div class="row">
                <div class="col-sm-6 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar (1)</li>
                    <li>Electric Guitar (1)</li>
                    <li>Professional Lead Vocal (1)</li>
                    <li>Supportive Background Vocal (1)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Basic Demo (No Vocals)</a>
            </h3>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
              <p class="card-subtitle mb-2 text-right pull-right lead price">$175</p>
              <p class="card-text text-left">This basic workup takes the natural edges off your song. General mixing.</p>
              <button class="btn btn-primary"> <i class="fa fa-check-square-o" aria-hidden="true"></i>Interested</button>
              <div class="row">
                <div class="col-sm-6 somePad">
                  <h6 class="text-left">Includes:</h6>
                  <ul class="list-group list-group-flush text-left">
                    <li>Drums</li>
                    <li>Bass</li>
                    <li>Acoustic Guitar (1)</li>
                    <li>Electric Guitar (1)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingFive">
            <h3 class="mb-0 card-title text-left text-uppercase">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">ADDITIONAL SERVICES</a>
            </h3>
          </div>
          <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-block">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Custom Melody</th>
                    <td>FREE</td>
                    <td>Perhaps you are a lyricist and you need help with the music, leave it to Frank.  He will create a custom meolody to compliment your lyrics.</td>
                  </tr>
                  <tr>
                    <th scope="row">Pedal Steel</th>
                    <td>$100</td>
                    <td>One of the few instruments Frank does not play; this will have to be outsourced by a local steel player. *This will be added to your total fee.</td>
                  </tr>
                  <tr>
                    <th scope="row">Duet</th>
                    <td>$100</td>
                    <td>Have a song that requires the magic of a duet?  No problem.  Hiring an extra vocalist will require additional mix time and coordination of their vocals.  Not to mention the additional fee of hiring the singer. *This will be added to your total fee.</td>
                  </tr>
                  <tr>
                    <th scope="row">"Stem" Wave Files</th>
                    <td>$50</td>
                    <td>If you are in need of individual wav files for the individual instruments, there will be a one time additional charge.</td>
                  </tr>
                  <tr>
                    <th scope="row">Nashville Numbers Chart</th>
                    <td>$15</td>
                    <td>It wouldn't hurt to have .... something else here.</td>
                  </tr>
                  <tr>
                    <th scope="row">Extra CD</th>
                    <td>$5</td>
                    <td>Extra CD with label</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>